.form__wrapper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form__label {
        font-size: 14px;
        margin-bottom: 4px;
        text-align: left;
    }

    .form__todos {
        font-size: 13px;
        height: 40px;
        margin-bottom: 20px;
        width: 90%;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        padding-left: 10px;

        &:focus {
            outline-color: rebeccapurple;
        }
    }

    .form__body {
        font-size: 14px;
        padding: 5px;
        padding-left: 10px;
        resize: none;
        width: 90%;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;

        &:focus {
            outline-color: rebeccapurple;
        }
    }

    .form__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn__add {
            height: 40px;
            width: 320%;
            margin-bottom: 10px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover {
                background-color: rebeccapurple;
                border: none;
                color: #fff;
            }
        }

        .btn__cancel {
            height: 40px;
            width: 320%;
            margin-bottom: 10px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover {
                background-color: rebeccapurple;
                border: none;
                color: #fff;
            }
        }
    }


}